body {
  padding-top: 50px;
}

.app {
  margin: auto;
  width: 50%;

  padding: 10px;
  border-radius: 3px;
}

.ql-editor {
  min-height: 200px;
  font-size: 13px;
}

.ql-container {
  border: 8px solid ghostwhite;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

/* menu csss */
.ql-table-toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  background: #fff;
  border: 2px solid #e9ebf0;
  border-radius: 30%;
  margin: 3px 0 0 -22px;
  width: 24px;
  height: 24px;
  top: 0;
  left: 0;
  cursor: pointer;
  fill: #b9bec7;
}
.ql-table-toggle_hidden {
  display: none;
}
.ql-table-toggle:hover {
  border-color: #b9bec7;
}

.ql-table-menu {
  padding: 8px;
  top: 0;
  left: 0;
  position: absolute;
  background: #fff;
  z-index: 2100;
  box-shadow: rgba(15, 15, 15, 0.05) 0 0 0 1px, rgba(15, 15, 15, 0.1) 0 3px 6px,
    rgba(15, 15, 15, 0.2) 0 9px 24px;
  border-radius: 8px;
  animation: fadeIn 0.05s ease-in forwards;
}
.ql-table-menu__item {
  display: flex;
  align-items: center;
  cursor: pointer;
  min-height: 32px;
  padding: 5px;
}
.ql-table-menu__item:hover {
  background-color: #d6d7d9;
  border-radius: 8px;
}
.ql-table-menu__item-icon {
  margin-right: 5px;
}
.ql-table-menu__item-text {
  font: 300 12px;
}
